<section class="container-fluid">
  <div class="img-bg col-lg-6 col-md-6 col-sm-12 col-xs-12 " style="margin-left: 150px">
    <img src="https://i.pinimg.com/originals/44/8e/8b/448e8b4a366be418b5a0849cc59753f4.gif" alt=""
         style="border-radius: 100px; height: 80%; width: 80%; margin-top: 50px">
  </div>
  <div class="noi-dung col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left: 0">
    <div class="form">
      <h2>Đăng Nhập</h2>
      <form action="">
        <div class="input-form">
          <span>Tên Người Dùng</span>
          <input type="text" name="">
        </div>
        <div class="input-form">
          <span>Mật Khẩu</span>
          <input type="password" name="">
        </div>
        <div class="nho-dang-nhap">
          <label><input type="checkbox" name=""> Nhớ mật khẩu</label>
        </div>
        <div class="input-form">
          <input type="submit" value="Đăng Nhập">
        </div>
        <div class="input-form">
          <p>Bạn Chưa Có Tài Khoản? <a href="#">Đăng Ký</a></p>
        </div>
        <div class="input-form">
          <span> hoặc đăng nhập qua các nền tảng công nghê</span>
        </div>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
