<section class="container-fluid">
  <div class="img-bg col-lg-6 col-md-6 col-sm-12 col-xs-12 " style="margin-left: 150px">
    <img src="https://i.pinimg.com/originals/44/8e/8b/448e8b4a366be418b5a0849cc59753f4.gif" alt=""
         style="border-radius: 100px; height: 80%; width: 80%; margin-top: 50px">
  </div>
  <div class="noi-dung col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left: 0">
    <div class="form">
      <h2>LOGIN</h2>
      <form action="">
        <div class="input-form">
          <span>Name</span>
          <input type="text" name="">
        </div>
        <div class="input-form">
          <span>Password</span>
          <input type="password" name="">
        </div>
        <div class="nho-dang-nhap">
          <label><input type="checkbox" name=""> Remember me!</label>
        </div>
        <div class="input-form">
          <input type="submit" value="Login">
        </div>
        <div class="input-form">
          <p>Do not have an account? <a href="#">Register</a></p>
        </div>
<!--        <div class="input-form">-->
<!--          <span> or login via technology platforms</span>-->
<!--        </div>-->
<!--        <div class="social-media">-->
<!--          <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>-->
<!--          <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--          <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--          <a class="btn btn-outline-secondary btn-social" href="#"><i class="fab fa-instagram"></i></a>-->
<!--        </div>-->
      </form>
    </div>
  </div>
</section>
