section {
  margin-top: 150px;
  position: relative;
  opacity: 0.9;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

section .img-bg {
  position: relative;
  width: 50%;
  height: 100%;
}

section .img-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .noi-dung {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  width: 50%;
  height: 100%;
}

section .noi-dung .form {
  width: 50%;
}

section .noi-dung .form h2 {
  color: #e85181;
  font-weight: 500;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #e85181;
  display: inline-block;
  letter-spacing: 1px;
}

section .noi-dung .form .input-form {
  margin-bottom: 20px;
}

section .noi-dung .form .input-form span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #e85181;
  letter-spacing: 1px;
}

section .noi-dung .form .input-form input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #e85181;
  font-size: 16px;
  letter-spacing: 1px;
  color: #e85181;
  background: transparent;
  border-radius: 30px;
}

section .noi-dung .form .input-form input[type="submit"] {
  background: #e85181;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
  0 2px 2px rgba(0, 0, 0, 0.12),
  0 4px 4px rgba(0, 0, 0, 0.12),
  0 8px 8px rgba(0, 0, 0, 0.12),
  0 16px 16px rgba(0, 0, 0, 0.12);
}

section .noi-dung .form .input-form input[type="submit"]:hover {
  background: #e85181;
}

section .noi-dung .form .nho-dang-nhap {
  margin-bottom: 10px;
  color: #F195B2;
  font-size: 14px;
}

section .noi-dung .form .input-form p {
  color: #F195B2;
}

section .noi-dung .form .input-form p a {
  color: #0b2372;
}

section .noi-dung .form h3 {
  color: #F195B2;
  text-align: center;
  margin: 80px 0 10px;
  font-weight: 500;
}

section .noi-dung .form .icon-dang-nhap {
  display: flex;
  align-items: center;
}

section .noi-dung .form .icon-dang-nhap li {
  list-style: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  section .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  section .noi-dung {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  section .noi-dung .form {
    width: 100%;
    padding: 40px;
    background: rgba(255 255 255 / 0.9);
    margin: 50px;
  }

  section .noi-dung .form h3 {
    color: #607d8b;
    text-align: center;
    margin: 30px 0 10px;
    font-weight: 500;
  }
}
.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #EC4969;
  border-color: #EC4969;
}

.btn-social {
  width: 45px;
  height: 45px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 45px;
}
