<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="section-title position-relative text-center mb-5">History</h1>
      </div>
    </div>
    <div class="row">
      <table class="table table-info table-striped">
        <thead>
        <tr style="text-align: center">
          <th class="shoping__product">Product</th>
          <th>Date payment</th>
          <th>Price</th>
          <th>Quantity</th>
          <th class="text-right">Total price</th>
          <th></th>
        </tr>
        </thead>
        <tbody *ngFor="let item of (historyList$ | async)!; index as i" style="text-align: center">
        <tr>
          <td class="shoping__cart__item">
            <img src="{{item.image}}" alt="" style="height: 90px; width: 100px">
          </td>

          <td class="shoping__cart__price px-5" style="font-weight: normal">
            {{item.datePayment | date: "dd/MM/yyyy"}}
          </td>

          <td class="shoping__cart__price px-5" style="font-weight: normal">
            {{item.price * (1 - item.discount / 100) | currency: "VND"}}
            <del *ngIf="item.discount > 0" class="text-secondary ml-2"
                 style="font-size: 17px"> {{item.price | currency: "VND"}}</del>
          </td>

          <td class="shoping__cart__price px-5" style="font-weight: normal">
            {{item.quantity}}
          </td>

          <td class="shoping__cart__total pl-5" style="font-weight: normal; color: red">
            {{item.price * (1 - item.discount / 100) * item.quantity | currency: "VND"}}
          </td>
        </tr>
        </tbody>
      </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="previous()" *ngIf="page > 1" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
            <a class="page-link" href="#" aria-label="Previous" style="pointer-events: none; background-color: #c7c7c7; color: white" *ngIf="page <= 1">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" (click)="getPage1()" *ngIf="page > 1">1</a></li>
          <li class="page-item"><a class="page-link"  href="#" style="pointer-events: none; background-color: #c7c7c7; color: white" *ngIf="page > 4">...</a></li>
          <li class="page-item"><a class="page-link" (click)="getPageP()" *ngIf="page > 3">{{page - 2}}</a></li>
          <li class="page-item"><a class="page-link" (click)="previous()" *ngIf="page > 2">{{page - 1}}</a></li>
          <li class="page-item"><a class="page-link" href="#" style="pointer-events: none; background-color: gray; color: white">{{page}}</a></li>
          <li class="page-item"><a class="page-link" (click)="next()" *ngIf="page < totalPage - 1">{{page + 1}}</a></li>
          <li class="page-item"><a class="page-link" (click)="getPageN()" *ngIf="page < totalPage - 2">{{page + 2}}</a></li>
          <li class="page-item"><a class="page-link" href="#" style="pointer-events: none; background-color: #c7c7c7; color: white" *ngIf="page < totalPage - 3">...</a></li>
          <li class="page-item"><a class="page-link" (click)="getPageEnd()" *ngIf="page < totalPage">{{totalPage}}</a></li>
          <li class="page-item">
            <a class="page-link" (click)="next()" *ngIf="page < totalPage" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
            <a class="page-link" href="#" style="pointer-events: none; background-color: #c7c7c7; color: white" *ngIf="page >= totalPage" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
