<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <h1 class="section-title position-relative text-center mb-2">Cart</h1>
      </div>
    </div>

<section class="shoping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table table-responsive">
          <table>
            <thead>
            <tr>
              <th class="shoping__product">Product</th>
              <th>Price (VND)</th>
              <th>Quantity</th>
              <th>total price</th>
              <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let item of cart; index as i">
            <tr>
              <td class="shoping__cart__item">
                <img src="{{item.image}}">
                <h5>{{item.nameDrink}}</h5>
              </td>
              <td class="shoping__cart__price">
                {{item.price * (1 - item.discount / 100) | number}}
              </td>
              <td class="shoping__cart__quantity">

                <div class="quantity">
                  <input type="button" style="width: auto;height: auto"
                         *ngIf="item.quantity > 1" (click)="descQuantity(item.id)" value="-">
                  <div class="pro-qty" style="width: auto;height: auto">
                    <input type="text" value="{{item.quantity}}" readonly>
                  </div>
                  <input type="button" style="width: auto; height: auto;"
                         (click)="ascQuantity(item.id)" value="+">

                </div>
              </td>
              <td class="shoping__cart__total">
                {{item.price * (1 - item.discount / 100) * item.quantity | number}}
              </td>
              <td class="shoping__cart__item__close">
                <span class="icon_close"></span>
              </td>
              <td>
                <button (click)="deleteCart(item.id)" class="btn-danger"><i class="fa-solid fa-trash"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
      </div>
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
        <div class="shoping__checkout">
          <ul>
            <li>Total order:<span>{{countDrink}}</span></li>
            <li>Total money:<span>{{finalPrice|number}}</span></li>
<!--            <li>-->
<!--              <button style="height: auto;width: 100%; background-color: #2a752a" class="primary-btn">-->
<!--                Payment-->
<!--              </button>-->
<!--            </li>-->
            <li>
              <div id="myPaypal"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
  </div>
</div>
